<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- <script>
        window.onload=function(){
            var btn=document.getElementById("btn");
            var times=10;
            var timer=null;
            btn.onclick=function(){
                if(this.getAttribute("clicked")){return false;}
                var _this=this;
                timer=setInterval(function(){
                    times--;
                    if(times<=0)
                    {
                        clearInterval(timer);
                        _this.value="发送验证码";
                        _this.removeAttribute("clicked",false);
                        times=10;
                    }else
                    {
                        _this.value=times+"秒后重试";
                        _this.setAttribute("clicked",true);
                    }
                },1000)
            }
        }
    </script> -->
    <style>
        .box1{height: 400px;background: #ccc;}
        .box2{height: 600px;background: #666;}
    </style>
    <script src="angular/angular.min.js"></script>
    <script src="vue/vue.min.js"></script>
</head>
<body>
    <pre>123</pre>
    <blockquote>123</blockquote>
    <img src="123.png" alt="这是替换信息" title="这是123.png" longdesc="1242421412">
    <!-- <div id="box">
        <span>iphone6s</span>
        <input type="button" value="删除",id="btn">
    </div>
    <!-- <div class="box">
        <input type="button" value="发送验证码" id="btn">
    </div> -->
    <!-- <script>
        var btn=document.getElementById("btn");
        btn.onclick=function(){
            var result=confirm("确定要删除吗？删除\n后不可恢复");
            if(result)
            {
                document.getElementById("box").style.display="none";
            }
        }
    </script>  -->
    <!-- <input type="button" value="退出" id="btn">
    <script>
        window.onload=function(){
            window.open("newwindow.html","width=400,height=200,left=0,top=0,toolbar=no,menubar=no,scrollbars=no,location=no,status=no");
            var quit=document.getElementById("btn");
            quit.onclick=function(){
                window.close();
            }
        }
    </script> -->
    <!-- <div class="box1" id="top"></div>
    <div class="box2"></div>
    <input type="button" id="btn" value="返回顶部">
    <script>
        var btn=document.getElementById("btn");
        btn.onclick=function(){
            location.hash="#top";          
        }
        console.log(location.pathname);
    </script> -->
    <!-- <input type="button" value="刷新" id="reload">
    <script>
        document.getElementById("reload").onclick=function(){
            location.reload(true);
        }
        var message=prompt("请输入你的星座","巨蟹座");
        console.log(message);
    </script> -->
    <!-- <div ng-app="">
        <p>名字：<input type="text" ng-model="name"></p>
        <h1>Hello {{name}}</h1>
    </div> -->
    <!-- <p>尝试修改以下表单</p>
    <div ng-app="myApp" ng-controller="myCtrl">
        名：<input type="text" ng-model="firstName"><br>
        姓：<input type="text" ng-model="lastName"><br>
        <br>
        姓名：{{firstName+" "+lastName}}
    </div>
    <script>
    var app=angular.module('myApp',[]);
    app.controller('myCtrl',function($scope){
        $scope.firstName="John";
        $scope.lastName="Doe";
    });
    </script> -->
    <div id="app">
        <p>{{message}}</p>
    </div>
    <script>
        new Vue({
            el:'#app',
            data:{
                message:'Hello Vue.js!'
            }
        })
    </script>
</body>
</html>